[Unit]
Description=Stern Home Leaderboard
After=docker.service network-online.target
Wants=docker.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/stern-home-leaderboard
ExecStart=/usr/bin/docker compose -f /opt/stern-home-leaderboard/docker-compose.secrets.yml up -d --build --force-recreate
ExecStop=/usr/bin/docker compose -f /opt/stern-home-leaderboard/docker-compose.secrets.yml down
ExecReload=/usr/bin/docker compose -f /opt/stern-home-leaderboard/docker-compose.secrets.yml up -d --build --force-recreate

[Install]
WantedBy=multi-user.target
